<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<meta name="ac:route" content="/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA Selector</title>
    <link rel="shortcut icon" href="/assets/images/faviconitvale.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="/assets/images/logoitva.webp" alt="IT Valley School Logo" width="180">
        </div>

        <h1>Escolha sua IA Task</h1>

        <div class="options">
            <a href="/chat_completions" class="option">
                <i class="fas fa-comments"></i>
                Chat Completions
            </a>
            <a href="/image_generate" class="option">
                <i class="fas fa-image"></i>
                Image Generation
            </a>
            <a href="/tradutor" class="option">
                <i class="fas fa-vector-square"></i>
                Translate
            </a>
            <a href="/moderation" class="option">
                <i class="fa-solid fa-hashtag"></i>
                Classification text (Moderations)
            </a>
            <a href="/tts" class="option">
                <i class="fas fa-microphone"></i>
                Texto para fala
            </a>
            <a href="/stt" class="option">
                <i class="fas fa-keyboard"></i>
                Fala para texto
            </a>
        </div>

        <div class="footer-text">
            O IA tasks foi desenvolvido com <strong>LLMs do Hugging Face</strong>, para facilitar a <strong>usabilidade</strong> de tasks!
            <div class="social-tag">@ITvalleyschool</div>
        </div>
    </div>